.emphasize {
    color: orange;
    font-weight:bold;
}

.danger{
    color: #ff1111;
    font-weight:bold;
}

.callout[data-callout="solution"] {
    --callout-color: 181,230,29;
    --callout-icon: lucide-calculator;
}

.tittle{
    font-weight: bold;
    text-align: center;
}

.Tittle{
    font-weight: bold;
    text-align: center;
    font-size:24px;
}